---
date: 2014-03-20 11:04:43+00:00
layout: page
title: Archives
permalink: /archives/
---

    <ul id='archive'>{% for post in site.posts %}{% unless post.next %}
      <h3 class='year'>{{ post.date | date: '%Y' }}</h3>{% else %}{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}{% if year != nyear %}
      <h3 class='year'>{{ post.date | date: '%Y' }}</h3>{% endif %}{% endunless %}{% unless post.next %}
      <h4 class='month'>{{ post.date | date: '%B' }}</h4>{% else %}{% capture month %}{{ post.date | date: '%B' }}{% endcapture %}{% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}{% if month != nmonth %}
      <h4 class='month'>{{ post.date | date: '%B' }}</h4>{% endif %}{% endunless %}
      <li><span class='day'>{{ post.date | date:"%d" }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li> {% endfor %}
    </ul>