{% assign copyname = site.data.authors[site.owner].name %}{% capture copyright %}Copyright &copy; 2009 - {{ site.time | date: '%Y' }} {{ copyname }}{% endcapture %}
        </section><!-- #main-content -->
                
        <section id="secondary-content"  itemscope itemtype="http://schema.org/WPSidebar" role="sidebar">
          {% include sidebar.html %}
        </section><!-- #secondary-content -->
      </div><!-- #content -->
            
      <footer id="page-footer" itemscope itemtype="http://schema.org/WPFooter">
        <hr />
        {% include partials/social.html %}
        <small class='copyright'>{{ copyright }}</small> &nbsp; &nbsp; | &nbsp; &nbsp; 
        <small class='site-meta'>Powered by <a href='//jekyllrb.com/' title='Jekyll &bull; Simple, blog-aware, static sites'>Jekyll</a> &amp; Hosted at <a href='//github.com' title='GitHub'>GitHub</a></small>
      </footer><!-- #page-footer -->
    </div><!-- #container -->
        
    {% include partials/foot-scripts.html %}
  </body>
</html>