/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 30em) {


    
}

@media only screen and (min-width: 40em) {

    .slicknav_menu {display: none;}

    #page-header hgroup {height: 195px;}
    #page-header .site-title {padding-top: 55px;}

    #main-content {float:left;margin-right:-12.5em;}
    #main-content article,
    #main-content hr {margin-right:12.5em;}
     
    #secondary-content {float:right;width:12.5em;}

    #primary-navigation {clear:both;display:block;margin:0.3125em auto;text-align: center;width:100%;}
    #primary-navigation a {display:inline-block;padding:0 0.3125em;width:5.3em;}
    #primary-navigation li {display:inline;position:relative;padding:0;}
    #primary-navigation ul.main-menu {display:block;height:1.625em;list-style:none;margin:0;padding-left:0;}
    #primary-navigation ul ul {display:none;float:left;margin:0;position:absolute;top:100%;left:-90%;
        width:100%;z-index:99999;}
    #primary-navigation ul ul ul {left:100%;top:-0.375em;}
    #primary-navigation ul ul a {background-color:white;width:11em;}
    #primary-navigation ul li:hover > ul,
    #primary-navigation hr,
    #primary-navigation hr::after {display:block;}

}

@media only screen and (min-width: 50em) {
    
    #main-content {margin-right:-15em;}
    #main-content article,
    #main-content hr {margin-right:15em;}

    #main-content .post .series_list {float:right;width:15em;}
     
    #secondary-content {width:15em;}
}

@media only screen and (min-width: 60em) {
    
    #main-content {margin-right:-17.5em;}
    #main-content article,
    #main-content hr {margin-right:17.5em;}

    #main-content .post .series_list {width:20em;}
     
    #secondary-content {width:17.5em;}
}

